<section class="container">
  <div class="tile-row">
    <div class="tile">
      <h4>Having a rough day?</h4>
      <p>Check out our alcoholic beverages section.</p>
      <a class="button">Alcoholics</a>
    </div>
    <div class="tile">
      <h4>Too many options!</h4>
      <p>Take a look on our most popular recipes.</p>
      <a class="button">Popular</a>
    </div>
    <div class="tile">
      <h4>Just Chillin'...</h4>
      <p>We got you! Cruise through our non-alcoholics.</p>
      <a class="button">Non-alcoholics</a>
    </div>
  </div>
</section>