html {
  --red-purpleish: #B93160;
  --red: #F65A83;
  --pink: #fd8eb5;
  --bright-pink: #ffc6e3;
  --yellow: #fffac8;
  --extra-light-gray: #F8F9FA;
  --white: #ffffff;
  --alice-blue: #F0F8FF;
  --text-color: #212529;

  box-sizing: border-box;
  color: var(--text-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4;
  background-color: var(--extra-light-gray);
}

h1, h2, h3, h4 {
  font-family: Georgia, serif;
}

a {
  color: var(--pink);
}
a:visited {
  color: var(--bright-pink);
}
a:hover {
  color: var(--bright-pink);
}
a:active {
  color: var(--red-purpleish);
}

.nav-container {
  background-color: var(--red);
}
.nav-container__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0.625em 0;
}

.home-link {
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
}

.top-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.top-nav li + li {
  margin-left: 0.625em;
}
.top-nav a {
  display: block;
  padding: 0.3em 1.25em;
  color: var(--white);
  background: var(--pink);
  text-decoration: none;
  border-radius: 3px;
}
.top-nav a:hover {
  background: var(--bright-pink);
  color: var(--white);
}
.top-nav__featured > a {
  color: var(--bright-pink);
  background-color: var(--white);
  margin-right: 25px;
}
.top-nav__featured > a:hover {
  background-color: var(--red-purpleish);
}

input[type=text] {
  background-size: 6%;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 5px 2px;
  background-repeat: no-repeat;
  padding-left: 23px;
  margin-right: 20px;
}

.hero {
  background: url('cocktail-hero.jpg') no-repeat;
  background-size: cover;
  background-position: 0 -580px;
}
.hero__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 5.5625em 12.5em 12.5em 0;
  text-align: right;
}
.hero h2 {
  color: var(--yellow);
  font-size: 2.2em;
  font-weight: 900;
  text-shadow: 2px 2px var(--red-purpleish);
}

.button {
  display: inline-block;
  padding: 0.4em 1em;
  color: var(--bright-pink);
  background-color: var(--red);
  border: 2px solid var(--bright-pink);
  border-radius: 0.2em;
  text-decoration: none;
  font-size: 1rem;
}
.button:hover {
  background-color: var(--red-purpleish);
  color: var(--white);
}
.button--cta {
  padding: 0.6em 1em;
  background-color: var(--pink);
  color: var(--white);
  border: none;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.tile-row {
  display: flex;
}

.tile-row > * {
  flex: 1;
}

.tile-row > * + * {
  margin-left: 1.5625em;
}

.tile {
  background-color: var(--white);
  border-radius: 0.3em;
  padding: 1.5625em;
}
.tile > h4 {
  margin-bottom: 1em;
}

.footy {
  font-size: 0.5em;
  background-color: var(--bright-pink);
}
.footy__inner {
  color: var(--red-purpleish);
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
}
